html,
body {
  padding: 0;
  margin: 0;

  font-family: "Helvetica Neue", Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
