@font-face {
  font-family: "Arial";
  src: url("./Arial/Arial.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("./Arial/Arial - Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("./Arial/Arial - Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("./Arial/Arial - Bold Italic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("./Calibri/Calibri.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("./Calibri/Calibri - Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("./Calibri/Calibri - Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("./Calibri/Calibri - Bold Italic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("./Consolas/Consolas.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./Consolas/Consolas - Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("./Consolas/Consolas - Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./Consolas/Consolas - Bold Italic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./HelveticaNeue/HelveticaNeue.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./HelveticaNeue/HelveticaNeue - Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./HelveticaNeue/HelveticaNeue - Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./HelveticaNeue/HelveticaNeue - Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Times New Roman";
  src: url("./Times New Roman/Times New Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("./Times New Roman/Times New Roman - Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Times New Roman";
  src: url("./Times New Roman/Times New Roman - Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("./Times New Roman/Times New Roman -Bold Italic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Verdana";
  src: url("./Verdana/Verdana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("./Verdana/Verdana - Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Verdana";
  src: url("./Verdana/Verdana - Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("./Verdana/Verdana -Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
